@page
@model RegisterModel

@{
    ViewData["Title"] = "Đăng ký";
    Layout = null;
}

<link rel="stylesheet" href="~/css/login.css" />
<link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />

<div class="container">
    <!-- Register Form -->
    <div class="form-box">
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <h1>Đăng ký</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <div class="input-box">
                <input asp-for="Input.FullName" class="form-control" autocomplete="fullname" aria-required="true" placeholder="Họ và tên" />
                <i class="bx bxs-user"></i>
                <span asp-validation-for="Input.FullName" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="Email" />
                <i class="bx bxs-envelope"></i>
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Mật khẩu" />
                <i class="bx bxs-lock-alt"></i>
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="Xác nhận mật khẩu" />
                <i class="bx bxs-lock-alt"></i>
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
            @* <div class="input-box"> *@
            @*     <select asp-for="Input.Role" asp-items="@Model.Input.RoleList" class="form-control"> *@
            @*         <option disabled selected>Chọn vai trò</option> *@
            @*     </select> *@
            @*     <i class="bx bxs-group"></i> *@
            @* </div> *@
            <button id="registerSubmit" type="submit" class="btn">Đăng ký</button>
            <p>hoặc đăng ký bằng</p>
            <div class="social-icons">
                @if (Model.ExternalLogins?.Count > 0)
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            if (provider.Name == "Google")
                            {
                                <button type="submit" name="provider" value="@provider.Name" class="social-btn"><i class="bx bxl-google"></i></button>
                            }
                            else if (provider.Name == "Facebook")
                            {
                                <button type="submit" name="provider" value="@provider.Name" class="social-btn"><i class="bx bxl-facebook"></i></button>
                            }
                        }
                    </form>
                }
            </div>
        </form>
    </div>

    <!-- Toggle Panels -->
    <div class="toggle-box">
        <div class="toggle-panel toggle-left">
            <h1>Xin chào!</h1>
            <h4>Đăng Kí Tại Đây</h4>
            <p style="padding-top:35px; margin-bottom: 0;">Đã có tài khoản?</p>
            <div class="login-link">
                <a asp-page="./Login" class="btn login-btn">Đăng Nhập</a>
            </div>
        </div>
        <div class="toggle-panel toggle-right">
            <h1>Chào mừng!</h1>
            <p>Chưa có tài khoản?</p>
            <button type="button" class="btn register-btn" id="register-toggle">Đăng Ký</button>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/login.js"></script>
}