@model IEnumerable<ShoeShopWebsite.Models.Color>

@{
    ViewData["Title"] = "Colors";
}

<h1>Colors</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.ColorID)</th>
            <th>@Html.DisplayNameFor(model => model.ColorName)</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.ColorID)</td>
                <td>@Html.DisplayFor(modelItem => item.ColorName)</td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ColorID" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-id="@item.ColorID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>